.row {
    padding: 10%;
    border-radius: 10px;
}

.detailsPage {
    padding: 8rem 0 3rem 0;
    color: #5A7F64;
}

.details-card-body {
    background-color: #f1d1719b;
}

.card-body p {
    color: #5A7F64;
}

@media only screen and (max-width: 750px) {
    .detailsPage {
        padding: 2rem 0 3rem 0;
    }
}